<div class="container-fluid">
    <div class="shadow mb-5 bg-body rounded">
        <a href="https://my.ku.th/login">
            <img src="https://reg.src.ku.ac.th/res/image/pay64.jpg" class="img-fluid">
        </a>
        <hr style="
              height: 1px;
              border-width: 0;
              color: #505F6B;
              background-color: #505F6B;
            " />
    </div>
    <div class="row py-3">
        <div class="col">
            <div class="card">
                <div class="card-header h4" style="background-color: #C3FEE9;">
                    คำถามที่พบบ่อย
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">

                            <h5> <a href=""> รับสมัคร </a> </h5>
                            <h5> <a href=""> ตารางเรียน </a> </h5>
                            <h5> <a href=""> ลงทะเบียนเรียน </a> </h5>
                            <h5> <a href=""> รายงานผลการเรียนตามหลักสูตร/เทียบโอนรายวิชา </a> </h5>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header h4" style="background-color: #C3FEE9;">
                    การสอบ
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">

                            <h5> <a href=""> การสอบและเทียบผลภาษาอังกฤษ </a> </h5>
                            <h5> <a href=""> สอบวัดคุณสมบัติ/การสอบประมวลความรอบรู้ </a> </h5>
                            <h5> <a href=""> สอบปากเปล่าขั้นสุดท้าย </a> </h5>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header h4" style="background-color: #C3FEE9;">
                    การจบการศึกษา
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">

                            <h5> <a href=""> สถานภาพนิสิต </a> </h5>
                            <h5> <a href=""> ขอใบจบการศึกษา </a> </h5>
                            <h5> <a href=""> ไม่มี KU9 ในการส่งเอกสารขอจบการศึกษา </a> </h5>
                            <h5> <a href=""> ขอทราบวันสุดท้ายของการจบการศึกษาในแต่ละภาคการศึกษา </a> </h5>
                            <h5> <a href="">
                                    กรณีต้องการตรวจสอบการสำเร็จการศึกษาระดับบัณฑิตศึกษาจากมหาวิทยาลัยเกษตรศาสตร์ </a>
                            </h5>
                            <h5> <a href=""> สามารถตรวจสอบผ่านระบบออนไลน์ </a> </h5>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>