<!DOCTYPE html>
<html>
<body style="font-family: 'IBM Plex Sans Thai', sans-serif;">
    <div>
        <div class="text-center" style="height: 100px; background-color: #505F6B">
          <div class="col-sm" >.</div>
          <h2 style="color: white">
            <strong> การติดต่อกับทางมหาวิทยาลัย </strong>
          </h2>
          <br />
          <hr
            style="
              height: 1px;
              border-width: 0;
              color: #505F6B;
              background-color: #505F6B;
            "
          />
        </div>
        <br />
        <div class="container-fluid">
          <div class="contact mx-5 mt-5">
            <div class="shadow p-3 mb-5 bg-body rounded">
              <div class="row">
                <div class="col">
                  <div class="contact-box py-5 px-4">
                    <img
                      class="contact-box-logo"
                      src="../assets/images/phone-call.png"
                      width="40px"
                      height="40"
                    />
                    <p class="py-3"><strong>สถานที่ติดต่อ / เบอร์ </strong></p>
                    <p class="contact-box-title blurb px-2">
                      หากมีปัญหาหรือพบข้อสงสัยโปรดติดต่อ 199 
                      ถนนสุขุมวิท ตำบลทุ่งสุขลา อำเภอศรีราชา จังหวัดชลบุรี
                    </p>
                    <div class="contact-box-number py-4">
                      <a href="tel:+0-3835-4580-6"> <p>0-3835-4580-6</p> </a>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="contact-box-sec py-5 px-4">
                    <img
                      class="contact-box-logo"
                      src="../assets/images/chat.png"
                      width="40px"
                      height="40"
                    />
                    <p class="py-3"><strong> Website KU  </strong></p>
                    <div class="row">
                      <div class="col ml-1">
                        <div class="icon-facebook">
                          <a href="https://www.src.ku.ac.th/index.php">
                            <img
                              src="../assets/images/KU_Logo.png"
                              width="40px"
                              height="40px"
                            />
                          </a>
                          <a href="https://www.instagram.com/kusrc.sab/" class="ml-3">
                            <img
                              src="../assets/images/instagram.png"
                              width="40px"
                              height="40px"
                            />
                          </a>
    
                          <a href="https://my.ku.th/login" class="ml-3">
                            <img
                              src="../assets/images/ku_my.jpg"
                              width="40px"
                              height="40px"
                            />
                          </a>
                        </div>
                      </div>
                    </div>
                    <p class="contact-box-title blurb py-4 px-4">
                      หากต้องการติดต่อช่องทางอื่่นหรือ Social media สามารถติดต่อได้ตามช่องทางด้านบน
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

</body>

</html>
